.content
    
  #next
    NEXT
    
  #prev
    PREV
    
  #gallery
    = image_tag "Image_1.jpg"
    = image_tag "Image_2.jpg"
    = image_tag "Image_3.jpg"
    = image_tag "Image_4.jpg"

  #thumbs
    = image_tag "Image_1_thumb.jpg"
    = image_tag "Image_2_thumb.jpg"
    = image_tag "Image_3_thumb.jpg"
    = image_tag "Image_4_thumb.jpg"